<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="views/template/index.html :: header">
</head>
<body>
    <div th:insert="views/template/index.html :: cart">
    </div>

    <div th:each="elem : ${products}">
        <div class="service_product_element">
            <p th:text="${elem.getName()}"></p>

            <? //=== Форма для связи товара с корзиной ?>
            <form autocomplete="off" action="/user/cart/add/" class="service_product_info_form">
                <input type="hidden" name="id" th:value="${elem.getId()}" autocomplete="off">
                <label>
                    <span>Количество товара:</span>
                    <input type="number" min="0" name="quantity" th:value="${cart.getProduct(elem.getId()) != null} ? ${cart.getProduct(elem.getId()).getQuantity()} : 0" class="service_quantity_text_input"   autocomplete="off">
                </label>
            </form>
        </div>
    </div>

    <div th:insert="views/template/index.html :: footer">
    </div>
</body>
</html>