<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=376, user-scalable=no, shrink-to-fit=no"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="author" content="armishev"/>
    <meta name="format-detection" content="telephone=no"/>
    <!--<link rel="shortcut icon" type="image/png" href="favicon.ico"/>-->
    <title>Ресторан</title>
    <!-- bower:css-->
    <link rel="stylesheet" th:href="@{/dev/bower_components/toastr/toastr.css}"/>
    <!-- endbower-->
    <link rel="stylesheet" type="text/css" th:href="@{/dev/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/dev/css/main.css}" />
    <!-- bower:js-->
    <script th:src="@{/dev/bower_components/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/dev/bower_components/toastr/toastr.js}"></script>
    <!-- endbower-->
    <script type="text/javascript" th:src="@{/dev/js/toastr.js}"></script>
    <script type="text/javascript" th:src="@{/dev/js/cart.js}"></script>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="cart" th:fragment="cart" th:utext="${cart.toString()}">
</div>


<div th:fragment="footer">
    © 2011 The Good Thymes Virtual Grocery
</div>
</body>
</html>